<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>2.8.6</string>
	<key>description</key>
	<string>\n 增加活动奖励 \n界面优化 提高加载速度 \n提升用户体验  \n修复已知bug</string>
	<key>url</key>
	<string>http://192.168.0.101:8080/html/download/download.html#</string>
</dict>
</plist>
